<!DOCTYPE html>
<html ng-app="LunchCheck">
	<head>
		<meta charset="utf-8">
		<script src="angular.min.js"></script>
		<script src="app.js"></script>
		<link rel="stylesheet" type="text/css" href="coloring.css">
		<title>First assignment for AngularJS</title>
	</head>
	<body>
		<h1>Lunch Checker</h1>
		<div ng-controller="LunchCheckController">
			<textarea type="text" rows="3" cols="90" placeholder="list comma seperated dishes you usually have for lunch..." ng-model="name"></textarea><br><br> 
			<!--  NOT CONSIDERING FOR AN EMPTY STRING LIKE: , , -->
			<button ng-click="doSomething();">Check If Too Much</button><br><br>
			{{temp}}
		</div>
	</body>
</html>